@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition-property: background, color;
  transition-duration: 1s, 0.2s;
  transition-timing-function: ease-in-out, ease-in;
}
@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}
main {
  overflow: hidden;
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #14b8a6;
  transform-origin: 0%;
  z-index: 50;
}
